window#waybar,
tooltip,
#workspaces,
#workspaces button,
#workspaces button label,
#mpris,
#network,
#pulseaudio,
#cpu,
#memory,
#clock {
  all: initial;
  font-family: {{font_name}};
  font-size: {{font_size}}px;
}

window#waybar {
  background-color: #{{surface_container}};
  color: #{{on_surface}};
}

tooltip {
  background-color: #{{surface_container}};
  color: #{{on_surface}};
  border: 1px solid #{{outline}};
  border-radius: 2px;
}

#workspaces {
  background-color: #{{surface_container_highest}};
  border-radius: 2px;
  margin: 2px 2px;
}

#workspaces button {
  background: transparent;
  border-radius: 2px;
  padding: 0px 3px;
  margin: 2px 2px;
  transition: all 0.3s ease;
  border: 0px;
}

#workspaces button.active,
#workspaces button.focused {
  background-color: #{{primary}};
}

#workspaces button label {
  color: #{{on_surface}};
}

#workspaces button.active label,
#workspaces button.focused label {
  color: #{{on_primary}};
}

#mpris {
  color: #{{background}};
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0px 3px;
}

#mpris.player {
  margin-right: 0px;
  margin-left: 2px;
  border-radius: 2px 0 0 2px;
}

#mpris.prev {
  margin-right: 0px;
  border-radius: 0;
}

#mpris.status {
  margin-right: 0px;
  border-radius: 0;
}

#mpris.next {
  border-radius: 0 2px 2px 0;
  margin-right: 2px;
}

#mpris.spotify {
  background-color: #1ed760;
}

#mpris.firefox {
  background-color: #ee8424;
}

#network,
#pulseaudio,
#cpu,
#memory,
#clock,
#tray {
  color: #{{on_surface}};
  background-color: #{{surface_container_highest}};
  border-radius: 2px;
  margin: 2px 2px;
  padding: 0px 3px;
}
